html,
body {
  font-family: "Geist", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

#wrapper {
  width: 100%;
  height: 100%;
  background: #18181b;
}

#controls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
}

button {
  background: #18181b;
  border-radius: 0.25em;
  color: white;
  border: 1px solid #2c2c31;
  padding: 0.5em 0.25em;
  cursor: pointer;
  font: inherit;
}

button:hover {
  background: #2c2c31;
}
