html,
body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  font-size: 0.8vw;
  color: white;
  margin: 0;
}

.wrapper {
  height: 2160px;
  width: 3840px;
  box-sizing: border-box;
  padding: 0.5em;
}

.stage {
  box-sizing: border-box;
  border-radius: 0.5em;
  border: 0.075em dashed rgba(255, 255, 255, 0.33);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.camera {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.camera .text {
}

.camera > :nth-child(1) {
  align-self: flex-end;
  margin-bottom: 0.5em;
}

.camera .placeholder {
  box-sizing: border-box;
  height: 1080px;
  width: 1080px;
  border: 0.075em dashed rgba(255, 255, 255, 0.33);
  border-radius: 0.5em;
}

.camera > :nth-child(3) {
  align-self: flex-start;
  margin-top: 0.5em;
}
